.main {
  width: 260px;
  margin: 20px auto 0;
  padding: 20px 0;
  position:relative;
}
.main #pwd{
  width:200px;
  height:40px;
}
.main .pwd-text {
  width: 150px;
  height: 27px;
  z-index: -10;
  border: none;
  position:absolute;
  //background-color:red;
  left: 51px;
  top:25px;

}
.main #eye{
    width:30px;
    height:25px;
    background-size:contain;
    background-image:url(./eye2.png) ;
    background-repeat:no-repeat;
    position:absolute;
    top: 30px;
    right:2px;

} 
.main #eye:hover{
  background-image:url(./eye.jpg);
}

